.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  gap: 15px;
  margin-top: 20px;
}

.control-btns {
  display: flex;
  gap: 5px;
}

@media (max-width: 600px) {
  .control-btns {
    flex-direction: column;
    width: 100%;
  }
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
